#input{
    margin-bottom: 5vh;
}

#cardsprint{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
}

.card{
    position: relative;
    height: 50vh;
}

.frontFace,.backSide{
    position: absolute;
    backface-visibility: hidden;
}

.flipbtn{
    position: relative;
    opacity: 0.80;
    background: white;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #343242;
    display: block;
    height: 44px;
    width: 44px;
    padding: 7px;
    cursor: pointer;
}
img{
    width: 80%;
}